@model PaginatedList<CategoryDTO>
@section body

    {
    <form method="post">
    <!-- Main content -->

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col m-2">
                                    <h3 class="page-title">
                                        Category
                                    </h3>
                                </div>
                                <div class="col-auto text-end float-auto ms-auto ">
                                    <a type="submit" class="btn btn-primary" asp-action="NewCategory" asp-controller="Category">Add</a>
                                    <a type="submit" class="btn btn-primary" asp-action="Export" asp-controller="Category">ExportExcel</a>
                                </div>

                            </div>
                                <div class="row m-2">
                                    <div class="col-md-1 m-2">
                                        <h5> Name</h5>
                                    </div>
                                    <div class="col-md-4 m-2">
                                        <input type="text" name="name" class="form-control" />
                                    </div>
                                    <div class="col-md-2 m-2">
                                        <button type="submit" class="btn btn-primary  " asp-action="search">Search</button>
                                    </div>
                                </div>
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (CategoryDTO item in Model.Items)
                                            {
                                                <tr>
                                                    <td>@item.Name</td>
                                                    <td>@item.Status</td>
                                                    <td>
                                                        <a style="margin-right: 5px;" asp-action="Edit" asp-route-Id="@item.Id"><i class="fa-regular fa-pen-to-square"></i></a>
                                                        <a asp-action="Delete" asp-route-Id="@item.Id"><i class="fa-regular fa-trash-can"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            @if (Model.HasPreviousPage)
                                            {
                                                    <li class="page-item"><a class="page-link" asp-action="PagginatedList" asp-route-CurrentPage="@(Model.PageNumber-1)">Previous</a></li>
                                            }
                                            else
                                            {
                                                    <li class="page-item disabled"><a class="page-link" asp-action="PagginatedList" asp-route-CurrentPage="@(Model.PageNumber-1)">Previous</a></li>
                                            }

                                            @for (int i = 1; i <= Model.TotalPages; i++)
                                            {
                                                    <li class="page-item"><a class="page-link" asp-action="PagginatedList" asp-route-CurrentPage="@i">@i</a></li>
                                            }


                                            @if (Model.HasNextPage)
                                            {
                                                    <li class="page-item"><a class="page-link" asp-action="PagginatedList" asp-route-CurrentPage="@(Model.PageNumber+1)">Next</a></li>
                                            }
                                            else
                                            {
                                                    <li class="page-item disabled"><a class="page-link" asp-action="PagginatedList" asp-route-CurrentPage="@(Model.PageNumber+1)">Next</a></li>
                                            }

                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </form>
    <!-- /.content -->
}